*{
	box-sizing: border-box;
}

body, html, figure{
	padding: 0;
	margin: 0;
	background: blue;
}

.container{
	max-width: 980px; /* Não esquecer do px*/
	margin: 0 auto; /* centraliza conteudo*/
	overflow: hidden;
}

.slider .slide{
	text-align: center; /* Tambem centraliza imagens */
	display: none; /* Oculta Elementos */
}

.slider .slide.ativo{
	display: block; /* Ativa display ocultado */
}